*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f4f4;
    color:#222;
}

.container{
    width:95%;
    max-width:900px;
    margin:20px auto;
}

header{
    background:#fff;
    border-radius:16px;
    padding:18px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    margin-bottom:15px;
}

.logo{
    width:260px;
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto 5px auto;
}

header h1{
    color:#d60000;
    font-size:22px;
    font-weight:700;
}

header p{
    color:#666;
    font-size:13px;
}

.card{
    background:#fff;
    border-radius:16px;
    padding:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    margin-bottom:15px;
}

label{
    display:block;
    font-weight:600;
    margin-bottom:6px;
    margin-top:12px;
}

input,
select{
    width:100%;
    padding:12px;
    border:2px solid #ddd;
    border-radius:10px;
    font-size:17px;
}

input:focus,
select:focus{
    outline:none;
    border-color:#d60000;
}

.resultado{
    background:#fff;
    border-radius:16px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    overflow:hidden;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#d60000;
    color:#fff;
}

th{
    padding:4px;
    text-align:center;
    font-size:14px;
}

td{
    padding:1px 4px;
    text-align:center;
    border-bottom:1px solid #eee;
    font-size:14px;
}

tbody tr:hover{
    background:#fafafa;
}

button{
    cursor:pointer;
}

.copiar{
    background:#d60000;
    color:#fff;
    border:none;
    padding:1px 3px;
    border-radius:1px;
    font-size:8px;
}

.copiar:hover{
    background:#a50000;
}

@media(max-width:700px){

.container{
    width:98%;
    margin:10px auto;
}

.logo{
    width:260px;
    max-width:100%;
    height:auto;
}

header{
    padding:14px;
}

header h1{
    font-size:20px;
}

header p{
    font-size:12px;
}

.card{
    padding:14px;
}

input,
select{
    padding:10px;
    font-size:16px;
}

th{
    padding:8px;
    font-size:12px;
}

td{
    padding:6px;
    font-size:12px;
}

.copiar{
    padding:5px 8px;
    font-size:11px;
}

}